*{
    font-family:  'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  }
  :root{
      --pcolor: blueviolet;
  }
  
  .logo{
    width: 16rem;
  }
  nav a.nav-link{
      font-weight: bold;
      cursor: pointer;
      color: var(--pcolor) !important;
      
  }
  nav li.nav-item{
      text-transform: uppercase;
      
  }
  nav i.bi-person-square{
   font-size: xx-large;
   color: var(--pcolor);
  }
  
  .navbar-nav > li > a:hover{
    border-top: 0.1875rem solid var(--pcolor);
  }
  .navbar-nav > li > a.active,.navbar-nav > li > a.active:focus{
    border-top: 0.1875rem solid var(--pcolor);
  
  }

  /*==================== BASE ====================*/
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0 0 var(--header-height) 0;
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  background-color: var(--body-color);
  color: var(--text-color);
}

h1, h2, h3, h4 {
  color: var(--title-color);
  font-weight: var(--font-semi-bold);
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}
  
/*==================== REUSABLE CSS CLASSES ====================*/
.section {
  padding: 2rem 0 4rem;
}

.section__title {
  font-size: var(--h1-font-size);
  color: var(--title-color);
}

.section__subtitle {
  display: block;
  font-size: var(--small-font-size);
  margin-bottom: var(--mb-3);
}

.section__title, 
.section__subtitle {
  text-align: center;
}
:root {
  --header-height: 3rem;

  /*========== Colors ==========*/
  /* Change favorite color */
  --hue-color: 250; /*Purple 250 - Green 142 - Blue 230 - Pink 340*/

  /* HSL color mode */
  --first-color: hsl(var(--hue-color), 69%, 61%);
  --first-color-second: hsl(var(--hue-color), 69%, 61%);
  --first-color-alt: hsl(var(--hue-color), 57%, 53%);
  --first-color-lighter: hsl(var(--hue-color), 92%, 85%);
  --title-color: hsl(var(--hue-color), 8%, 15%);
  --text-color: hsl(var(--hue-color), 8%, 45%);
  --text-color-light: hsl(var(--hue-color), 8%, 65%);
  --input-color: hsl(var(--hue-color), 70%, 96%);
  --body-color: hsl(var(--hue-color), 60%, 99%);
  --container-color: #fff;
  --scroll-bar-color: hsl(var(--hue-color), 12%, 90%);
  --scroll-thumb-color: hsl(var(--hue-color), 12%, 80%);

  /*========== Font and typography ==========*/
  --body-font: 'Poppins', sans-serif;

  /* .5rem = 8px, 1rem = 16px, 1.5rem = 24px ... */
  --big-font-size: 2rem;
  --h1-font-size: 1.5rem;
  --h2-font-size: 1.25rem;
  --h3-font-size: 1.125rem;
  --normal-font-size: .938rem;
  --small-font-size: .813rem;
  --smaller-font-size: .75rem;

  /*========== Font weight ==========*/
  --font-medium: 500;
  --font-semi-bold: 600;

  /*========== Margenes Bottom ==========*/
  /* .25rem = 4px, .5rem = 8px, .75rem = 12px ... */
  --mb-0-25: .25rem;
  --mb-0-5: .5rem;
  --mb-0-75: .75rem;
  --mb-1: 1rem;
  --mb-1-5: 1.5rem;
  --mb-2: 2rem;
  --mb-2-5: 2.5rem;
  --mb-3: 3rem;

  /*========== z index ==========*/
  --z-tooltip: 10;
  --z-fixed: 100;
  --z-modal: 1000;
}

.grid {
  display: grid;
  gap: 1.5rem;
}
/*==================== HOME ====================*/
.home__container{
  gap: 1rem;
}

.home__content{
  grid-template-columns: .5fr 3fr;
  padding-top: 3.5rem;
  align-items: center;
}

.home__social{
  display: grid;
  grid-template-columns: max-content;
  row-gap: 1rem;

}

.home__social-icon{
  font-size: 1.25rem;
  color: var(--first-color);
}

.home__social-icon:hover{
  color: var(--first-color-alt);
}

.home__blob{
  width: 200px;
  fill: var(--first-color);
}

.home__blob-img{
  width: 170px;
}

.home__data{
  grid-column: 1/3;
}

.home__title{
  font-size: var(--big-font-size);
}

.home__subtitle{
  font-size: var(--h3-font-size);
  color: var(--text-color);
  font-weight: var(--font-medium);
  margin-bottom: var(--mb-0-75);
}

.home__description{
  margin-bottom: var(--mb-2);
}

.home__scroll{
  display: none;
}

.home__scroll-button{
  color: var(--first-color);
  transition: .3s;
}

.home__scroll-button:hover{
  transform: translateY(.25rem);
}

.home__scroll-mouse{
  font-size: 2rem;
}

.home__scroll-name{
  font-size: var(--small-font-size);
  color: var(--title-color);
  font-weight: var(--font-medium);
  margin-right: var(--mb-0-25);
}

.home__scroll-arrow{
  font-size: 1.25rem;
}

  /*************About Me**************/
  div img.img-fluid{
    width: 31rem;
    
    border-radius: 100%;
    border: 6px solid var(--pcolor);
  }
  
  .ibox{
    display: flex;
    justify-content: center;
  }
  .about__info{
    display: flex;
    justify-content: space-evenly;
    margin-bottom: var(--mb-2-5);
  }
  
  .about_info-title{
     font-size: var(--h2-font-size);
     font-weight: var(--font-semi-bold);
     color: var(--first-color);
  }
  .about__info-name{
    font-size: var(--smaller-font-size);
  }
  /*************Services**************/
  .data-card-container {
    width:100%
  }
  .data-card {
    display: flex;
    flex-direction: column;
    max-width: 20.75em;
    min-height: 20.75em;
    overflow: hidden;
    border-radius: 0.5em;
    text-decoration: none;
    background: white;
    margin: 1em;
    padding: 2.75em 2.5em;
    box-shadow: 0 1.5em 2.5em -0.5em rgba(0, 0, 0, 0.1);
    transition: transform 0.45s ease, background 0.45s ease;
  }
  .data-card h3 {
    color: #2E3C40;
    font-size: 3.5em;
    font-weight: 600;
    line-height: 1;
    padding-bottom: 0.5em;
    margin: 0 0 0.142857143em;
    border-bottom: 2px solid #753BBD;
    transition: color 0.45s ease, border 0.45s ease;
  }
  .data-card h4 {
    color: #627084;
    text-transform: uppercase;
    font-size: 1.125em;
    font-weight: 700;
    line-height: 1;
    letter-spacing: 0.1em;
    margin: 0 0 1.777777778em;
    transition: color 0.45s ease;
  }
  .data-card p {
    opacity: 0;
    color: #FFFFFF;
    font-weight: 600;
    line-height: 1.8;
    margin: 0 0 1.25em;
    transform: translateY(-1em);
    transition: opacity 0.45s ease, transform 0.5s ease;
  }
  .data-card .link-text {
    display: block;
    color: #753BBD;
    font-size: 1.125em;
    font-weight: 600;
    line-height: 1.2;
    margin: auto 0 0;
    transition: color 0.45s ease;
  }
  .data-card .link-text svg {
    margin-left: 0.5em;
    transition: transform 0.6s ease;
  }
  .data-card .link-text svg path {
    transition: fill 0.45s ease;
  }
  .data-card:hover {
    background: #753BBD;
    transform: scale(1.02);
  }
  .data-card:hover h3 {
    color: #FFFFFF;
    border-bottom-color: #A754C4;
  }
  .data-card:hover h4 {
    color: #FFFFFF;
  }
  .data-card:hover p {
    opacity: 1;
    transform: none;
  }
  .data-card:hover .link-text {
    color: #FFFFFF;
  }
  .data-card:hover .link-text svg {
    -webkit-animation: point 1.25s infinite alternate;
            animation: point 1.25s infinite alternate;
  }
  .data-card:hover .link-text svg path {
    fill: #FFFFFF;
  }
  
  @-webkit-keyframes point {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(0.125em);
    }
  }
  
  @keyframes point {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(0.125em);
    }
  }

  @media(max-width:767px) {
    .data-card{
      min-height: 18.75em;
    }
    .data-card h3 {
      font-size: 2.5em;

    }
}


  .services{
    text-align: center;
    padding-bottom: 2rem;
    background: lightgrey;
  }
  .services a.btn-primary{
     background-color: var(--pcolor);
     border: none;
  }
  .services img.card-img-top{
    overflow: hidden !important;
    height: 18.75rem;
    
    
  }
  @media (max-width:468px) {
    div img.img-fluid{
          width: 17rem;
          
    }
    .services img.card-img-top{
      height: 10rem;
    }
  
  }
  
  /************************ EXPERIENCE *********************************/
  
  /*==================== QUALIFICATION ====================*/
.qualification__tabs{
  display: flex;
  justify-content: space-evenly;
  margin-bottom: var(--mb-2);
}

.qualification__button{
  font-size: var(--h3-font-size);
  font-weight: var(--font-medium);
  cursor :pointer;
}

.qualification__button:hover{
  color: var(--first-color);
}

.qualification__icon{
  font-size: 1.8rem;
  margin-right: var(--mb-0-25);
}

.qualification__data{
  display: grid;
  grid-template-columns: 1fr max-content 1fr;
  column-gap: 1.5rem;
}

.qualification__title{
  font-size: var(--normal-font-size);
  font-weight: var(--font-medium);
}

.qualification__subtitle{
  display: inline-block;
  font-size: var(--small-font-size);
  margin-bottom: var(--mb-1);
}

.qualification__calendar{
  font-size: var(--smaller-font-size);
  color: var(--text-color-light);
}

.qualification__rounder{
  display: inline-block;
  width: 13px;
  height: 13px;
  background-color: var(--first-color);
  border-radius: 50%;
}

.qualification__line{
  display: block;
  width: 1px;
  height: 100%;
  background-color: var(--first-color);
  transform: translate(6px, -7px);
}

.qualification [data-content]{
  display: none;
}

.qualification__active[data-content]{
  display: block;
}

.qualification__button.qualification__active{
  color: var(--first-color);
}



  .experience {
    
  }
  
  .experience-wrapper {
    position: relative;
    padding: 3.125rem 0;
    overflow: hidden;
  }
  
  .experience h1 {
    text-transform: uppercase;
    
  }
  
  .experience-wrapper::before {
    position: absolute;
    content: "";
    top: 0;
    left: 50%;
    margin-left: -0.0625rem;
    width: 0.125rem;
    height: 100%;
    background: lightgrey;
    z-index: 1;
  }
  
  .timeline-block {
    width: calc(50% + 0.5rem);
    display: flex;
    justify-content: space-between;
    clear: both;
  }
  
  .timeline-block-right {
    float: right;
  }
  
  .timeline-block-left {
    float: left;
    direction: rtl;
  }
  
  
  .marker {
    width: 1rem;
    height: 1rem;
    border-radius: 50%;;
    border: 0.3125rem solid var(--primary-dark);
    background:  var(--pcolor);
    margin-top: 0.625rem;
    z-index: 3;
  }
  
  .timeline-content {
    width: 95%;
    padding: 0 0.9375rem;
    color: var(--primary-dark-grey);
    direction: ltr;
  }
  
  .timeline-content h3 {
    margin-top: 0.3125rem;
    color: var(--primary-red);
    font-weight: 900;
  }
  /*************Testimonial**************/
  .testimonials .container {
      max-width: 950px;
     
  }
  
  .testimonials .card {
      border-radius: 1rem;
      box-shadow: 0px -10px 0px var(--pcolor);
      height: 23rem;
  }
  
  @media(max-width:767px) {
      .testimonials .card {
          margin: 1rem 0.7rem 1rem;
          max-width: 80vw
      }
  }
  .testimonials .card-image{
    width: 10rem;
    overflow: hidden;
  }
  
  .testimonials img {
     
      border-radius: 5rem;
      
      
  }
  
  .testimonials .col-md-4 {
      padding: 0 0.5rem
  }
  
  .testimonials .card-title {
      font-size: 1rem;
      margin-bottom: 0;
      font-weight: bold;
      
  }
  
  .testimonials .card-text {
      text-align: center;
      padding: 1rem 2rem;
      font-size: 0.8rem;
      color: rgb(82, 81, 81);
      line-height: 1.4rem
  }
  
  .testimonials .footer {
      border-top: none;
      text-align: center;
      line-height: 1.2rem;
      
     
  }
  
  #name {
      font-size: 0.8rem;
      font-weight: bold
  }
  
  #position {
      font-size: 0.7rem
  }
  
  a {
      color: var(--pcolor);
      font-weight: bold
  }
  
  .testimonials a:hover {
      color: var(--pcolor)
  }
  
  
  
  /*************Contact**************/
  .contacts{
    background:white;
    padding: 3rem 0;
  
  }
  /*************Inputs**************/
  .contacts input,.contacts textarea{
    width: 100%;
    box-sizing: border-box;
    resize: none;
    border-bottom: 0.12rem solid var(--pcolor);
    
    outline: 0 !important;
    margin-bottom: 1rem;
  }
  .contacts input:focus,.contacts textarea:focus{
    background: transparent;
    border-bottom: 0.12rem solid var(--pcolor);
    
  }
  .contacts textarea{
    height: 10rem;
  }
  .contacts button{
    width: 100%;
    background-color: var(--pcolor);
    
  }
  .contacts .line{
    position: relative;
    width: 0;
    height: 0.125rem;
    background: var(--pcolor);
    display: inline-block;
  }
  input:focus+.line,textarea:focus+.line{
    width: 100%;
    transition: width 0.5s ease-in-out;
  }
  
  .error{
    color: red;
  }
  /*------------Footer------------------*/
  .myfooter {
    background: var(--pcolor);
    color: white;
    padding: 3rem;
  }
  
  .myfooter a {
    text-decoration: none;
    color: white;
  }
  
  .myfooter a:hover {
    text-decoration: none;
    color: whitesmoke;
    cursor:pointer;
  }
  
  .myfooter p {
    margin-bottom: 0;
  }

  /*==================== SKILLS ====================*/
.skills__container{
  row-gap: 0;

}

.skills__header{
  display: flex;
  align-items: center;
  margin-bottom: var(--mb-2-5);
  cursor: pointer;
}

.skills__icon,
.skills__arrow{
  font-size: 2rem;
  color: var(--first-color);
}

.skills__icon{
  margin-right: var(--mb-0-75);
}

.skills__title{
  font-size: var(--h3-font-size);
}

.skills__subtitle{
  font-size: var(--small-font-size);
  color: var(--text-color-light);
}

.skills__arrow{
  margin-left: auto;
  transition: 4s;
}

.skills__list{
  row-gap: 1.5rem;
  padding-left: 2.7rem;
}

.skills__titles{
  display: flex;
  justify-content: space-between;
  margin-bottom: var(--mb-0-5);
}

.skills__name{
  font-size: var(--normal-font-size);
  font-weight: var(--font-medium);
}

.skills__bar,
.skills__percentage{
  height: 5px;
  border-radius: .25rem;
}

.skills__bar{
  background-color: var(--first-color-lighter);
}

.skills__percentage{
  display: block;
}

.skills__html{
  width: 40%;
}
.skills__css{
  width: 80%;
}
.skills__js{
  width: 60%;
}
.skills__react{
  width: 85%;
}


.skills__php{
  width: 80%;
}
.skills__node{
  width: 70%;
}
.skills__firebase{
  width: 90%;
}
.skills__python{
  width: 55%;
}

.skills__figma{
  width: 90%;
}
.skills__sketch{
  width: 85%;
}
.skills__photoshop{
  width: 85%;
}

.skills__close .skills__list{
  height: 0;
  overflow: hidden;
}

.skills__open .skills__list{
  height: max-content;
  margin-bottom: var(--mb-2-5);
}

.skills__open .skills__arrow{
  transform: rotate(-180deg);
}
  
  /*------------ MEDIA ------------------*/
  @media(max-width: 768px) {
  .experience .container {
    padding-left: 0;
  }
  
    .experience-wrapper::before {
      left: 0.5rem;
      margin-bottom: 1.875rem;
    }
    .timeline-block-right {
      float: none;
      width: 100%;
    }
    
    .timeline-block-left {
      float: none;
      direction: ltr; 
      width: 100%;
    }
  }

  .caraousel-container .container{
    width: 50rem;
    
}

@media(max-width: 768px) {
    .caraousel-container .container{
      width: 100%;
    }
    .caraousel-container .carousel-control-prev{
      display: none;
    }
    .caraousel-container .carousel-control-next{
      display: none;
    }
}
